<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/css/site.css"rel="stylesheet" type="text/css" />
    <link href="~/css/chess.css"rel="stylesheet" type="text/css" />





</head>
<body>
    <div class="container body-content" style="display:flex;justify-content:center">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src= "~/js/site.js"></script>
</body>
</html>